<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      color="indigo darken-1"
      dark
      v-if="authenticated"
    >
      <v-list>
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-icon dark>
              mdi-account-circle
            </v-icon>
          </v-list-item-avatar>
        </v-list-item>
        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="title">
              <template v-if="!authenticated">
                Гость
              </template>
              <template v-else>
                {{user.data.name}}
              </template>
            </v-list-item-title>
            <v-list-item-subtitle>
              <template v-if="!authenticated">
                guest@gmail.com
              </template>
              <template v-else>
                {{user.data.email}}
              </template>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list
        nav
        dense
      >
        <v-list-item link to="/smartgas" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-folder
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Заказы по Смартгаз
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/compass" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Заказы по Компасс
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/ksttrade" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Заказы по KST Trade
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/m36orders" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Заказы по M36
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/individual" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Отчет по Физ.Лицам
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/individualAlb" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Отчет для Алибека (по Физ.Лицам) 
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/aurika" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Отчет по Аурика
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/entire" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Отчет для Админов по Компасс
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/entireAurikaKst" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <!-- <v-list-item-title>
            Админ отчёт по Аурика и KST Trade
          </v-list-item-title> -->
          <v-list-item-title>
            Админ отчёт по Аурика
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/kstreport" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Отчет для KST Trade
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/m36" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            АЗС Трасса М36
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/sinooil" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            АЗС Sinooil
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/helios" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            АЗС Helios
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/venoil" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            АЗС VenOil
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/binom" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            АЗС Binom
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/corp" class="linkStyle">
          <v-list-item-icon>
            <v-icon>
              mdi-account-multiple
            </v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            Корпоративный клиент
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar 
      app
      color="indigo darken-1"
      dark
    >
      <v-app-bar-nav-icon @click="drawer = !drawer" v-if="authenticated"></v-app-bar-nav-icon>

      <v-toolbar-title class="mainTitle">
        <nuxt-link to="/" class="linkStyleWhite">Поддержка клиентов SGG LTD</nuxt-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <div v-if="!authenticated" class="hidden-sm-and-down">
        <div class="justify-space-between p-2">
          <v-btn
            v-for="(item, index) in nav"
            :key="index"
            :to="item.route"
            color="indigo darken-1"
            dark
            class="m-1 linkStyle"
          >
            {{ item.text }}
          </v-btn>
        </div>
      </div>
      <div v-else>
        <div class="justify-space-between p-2">
          <v-btn 
            @click="logout"
            color="indigo darken-1"
            dark
            class="m-1 linkStyle"
          >
            Выйти
          </v-btn>
        </div>
      </div>
      
    </v-app-bar>

    <v-main>    
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
  export default {
    components: {
    },
    data: () => ({ 
      drawer: null,
      nav: [
        {
          text: 'Войти',
          route: '/login',
        },
        {
          text: 'Регистрация',
          route: '/register',
        },
      ],
    }),
    methods: {
      logout(){
        this.$auth.logout()
        this.$router.push('/')
      }
    }
  }
</script>

<style scoped>
  .linkStyle{
    text-decoration: none;
  }
  .linkStyleWhite{
    text-decoration: none;
    color:white;
  }
  .mainTitle{
    font-size:18px;
  }
</style>