<template lang="pug">
  .m-3.p-3
    v-alert.m-3.p-3.titleColor(elevation="2" outlined)
      span Главная страница
</template>
<script>
  export default {
  }
</script>
<style scoped>
  .titleColor{
    color:rgba(0, 0, 0, 0.6);
  }
</style>