<template lang='pug'>
    RetalixTable(title='Smartgas' endpoint='smartgas')
</template>
<script>
    import RetalixTable from '@/components/retalix/RetalixTable';
    export default {
        middleware: ['auth'],
        components: {
            RetalixTable,
        }
    }
</script>