<template lang="pug">
    .m-3.p-3
        v-alert.m-3.p-3.titleColor.scrollTable(outlined elevation="2")
            span {{'Отчет по АЗС VenOil'}}
            v-divider.mb-1.titleColor
            v-alert
                v-card-title.titleColor
                    span {{'Выгрузка в Excel формате'}}
                    v-spacer
                    v-dialog(transition="dialog-bottom-transition" max-width="400")
                        template(v-slot:activator="{ on, attrs }")
                            v-btn.mr-4.textWhite(outlined v-bind="attrs" v-on="on")
                                v-icon(color="blue") mdi-file-download-outline
                        template(v-slot:default="dialog")
                            v-card
                                form(@submit.prevent="submit()")
                                    v-toolbar(color="indigo" dark)
                                        span Выберите параметры выгрузки
                                    v-card-text
                                        div.text-h2.pl-12.pr-12
                                            v-select.titleColor(:items="cities" label="Выберите город" multiple v-model.trim="form.city" :item-text="'city'" :item-value="'city'" @change="getStores")
                                            v-select(v-model.trim="form.stores" :items="stores" label="Выберите азс" multiple :item-text="'label'" :item-value="'id'" :item-disabled="disableItemStore" @change="setStores")
                                                template(v-slot:selection="{ item, index }")
                                                    v-chip(v-if="index === 0")
                                                        span {{ item.label }}
                                                    span(v-if="index === 1" class="grey--text text-caption") (+{{ form.stores.length - 1 }} другие)
                                            v-select(v-model.trim="form.agents" :items="agents" label="Выберите агента" multiple :item-text="'label'" :item-value="'id'")
                                                template(v-slot:selection="{ item, index }")
                                                    v-chip(v-if="index === 0")
                                                        span {{ item.label }}
                                                    span(v-if="index === 1" class="grey--text text-caption") (+{{ form.agents.length - 1 }} другие)
                                            v-menu(ref="startDate" v-model="startDate" :close-on-content-click="false" :return-value.sync="form.start" transition="scale-transition" offset-y min-width="auto")
                                                template(v-slot:activator="{ on, attrs }")
                                                    v-text-field(v-model="form.start" label="Начало" readonly v-bind="attrs" v-on="on")
                                                v-date-picker(v-model="form.start" no-title scrollable color="light-green darken-2" @input="closeStartDate")
                                                    v-spacer
                                                    v-btn(text color="indigo" @click="startDate = false") Cancel
                                                    v-btn(text color="indigo" @click="$refs.startDate.save(form.start)") OK
                                            v-menu(ref="endDate" v-model="endDate" :close-on-content-click="false" :return-value.sync="form.end" transition="scale-transition" offset-y min-width="auto")
                                                template(v-slot:activator="{ on, attrs }")
                                                    v-text-field(v-model="form.end" label="Конец" readonly v-bind="attrs" v-on="on")
                                                v-date-picker(v-model="form.end" no-title scrollable color="indigo" @input="closeEndDate")
                                                    v-spacer
                                                    v-btn(text color="indigo" @click="endDate = false") Cancel
                                                    v-btn(text color="indigo" @click="$refs.endDate.save(form.end)") OK
                                            v-text-field(v-model="mail" label="Адрес почты" :disabled="mailModal")
                                            v-checkbox.all_stations(v-model="all_stations_chbx" label="Все азс") 
                                    v-card-actions.d-flex.flex-column.align-end.justify-end.pl-12.pr-12
                                        v-btn.titleColor.mb-2(:disabled="mailModal" outlined color="light-green darken-2" @click="sendMail") Отправить отчет
                                        v-btn.titleColor.mb-2(type="submit" outlined color="light-green darken-2" :disabled="disabledBtn") Выгрузить отчет
                                        v-btn.titleColor(:disabled="downloaded" outlined color="light-indigo darken-2" :href="downloadUrl" download) Скачать отчет
                                    v-card-actions.justify-end.pl-12.pr-12
                                        v-btn(text @click="dialog.value = false") Закрыть
            v-dialog(v-model="loadingDialog" hide-overlay persistent width="270")
                v-card(color="indigo darken-1" dark)
                    v-card-text
                        p Пожалуйста подождите, данные загружаются
                    v-progress-linear(indeterminate color="white" class="mb-0")
</template>
<script>
    import {mapGetters, mapActions} from "vuex"
    import { saveAs } from 'file-saver'
    export default {
        middleware: ['auth'],
        data: () => ({ 
            form: {
                start: new Date().toISOString().substr(0, 10),
                end: new Date().toISOString().substr(0, 10),
                city: [],
                agents: [],
                stores: [],
            },
            startDate: false,
            endDate: false,
            downloadUrl: process.env.SERVER_ADDRESS,
            disabledBtn: false,
            mail: '',
            filename: '',
            disableMailSend: false,
            downloaded: true,
            mailModal: true,
            loadingDialog: false,
            dis1: false,
            dis2: false,
            dis11: false,
            dis22: false,
            disableCommon: false,
            all_stations_chbx: false,
        }),
        computed: {
            ...mapGetters('modules/aurika', [
                'agents',
                'headers_cancelled',
                'cities',
                'stores',
            ]),
        },
        mounted(){
            this.getCities()
        },
        methods: {
            // showAllStations() {
            //     console.log(this.all_stations_chbx)
            //     console.log('all stations chbx')
            // },
            ...mapActions("modules/aurika", [
                "setCitiesAction",
                "setStoresAction",
            ]),
            disableItem(item) {
                if(item.city == 'Все города'){
                    return this.dis1
                }else{
                    return this.dis2
                }
            },
            disableItemStore(item) {
                if(item.id == -1){
                    return this.dis11
                }else{
                    return this.dis22
                }
            },
            // async getStores() {
            //     this.loadingDialog = true
            //     this.form.city = []
            //     for(let i = 0; i < this.cities.length; i++){
            //         this.form.city.push(this.cities[i].city)
            //     }
            //     await this.$axios.$get(`venoil/stores`,
            //     {
            //         params: {
            //             city: this.form.city                   }
            //     },
            //     )
            //     .then(response => {
            //         response.data.push({label: 'Все АЗС', id: -1})
            //         this.setStoresAction(response.data)
            //     }).catch(err => {
            //         console.log(err, 'error')
            //     })
            //     this.loadingDialog = false
            // },
            async getStores(city) {
                if(city[city.length - 1] == 'Все города'){
                    this.dis2 = true
                    this.form.city = []
                    this.form.stores = []
                    this.form.agents = []
                    for(let i = 0; i < this.cities.length; i++){
                        this.form.city.push(this.cities[i].city)
                    }
                    await this.$axios.$get(`venoil/stores`,
                    {
                        params: {
                            city: this.form.city                   }
                    },
                    )
                    .then(response => {
                        response.data.push({label: 'Все АЗС', id: -1})
                        this.setStoresAction(response.data)
                    }).catch(err => {
                        console.log(err, 'error')
                    })
                }else{
                    this.dis2 = false
                    if(this.form.city.length == this.cities.length - 1){
                        this.form.city = []
                        this.form.stores = []
                        this.setStoresAction([])
                        this.form.agents = []
                        this.dis22 = !this.dis22
                        this.form.stores = []
                    }
                }
                this.loadingDialog = true
                await this.$axios.$get(`venoil/stores`,
                {
                    params: {
                        city: this.form.city                   }
                },
                )
                .then(response => {
                    response.data.push({label: 'Все АЗС', id: -1})
                    this.setStoresAction(response.data)
                }).catch(err => {
                    console.log(err, 'error')
                })
                this.loadingDialog = false
                // await this.$axios.$get(`venoil/stores`,
                // {
                //     params: {
                //         city: this.form.city                   }
                // },
                // )
                // .then(response => {
                //     this.setStoresAction(response.data)
                // }).catch(err => {
                //     console.log(err, 'error')
                // })
            },
            async setStores(id) {
                if(id[id.length - 1] == -1){
                    this.dis22 = !this.dis22
                    this.form.stores = []
                    if(this.dis22){
                        for(let i = 0; i < this.stores.length; i++){
                            this.form.stores.push(this.stores[i].id)
                        }
                    }else{
                        this.form.stores = []
                    }
                }else{
                    if(this.form.stores.length == this.stores.length - 1){
                        this.dis22 = !this.dis22
                        this.form.stores = []
                    }
                }
                console.log('form stores', this.form.stores)
            },
            async getCities() {
                this.loadingDialog = true
                await this.$axios.$get(`venoil/cities`,
                )
                .then(response => {
                    // response.data.push({city: 'Все города'})
                    this.setCitiesAction(response.data)
                }).catch(err => {
                    console.log(err, 'error')
                })
                this.loadingDialog = false
            },
            async submit() {
                this.disabledBtn = true
                this.loadingDialog = true
                this.downloadUrl = process.env.SERVER_ADDRESS
                await this.$axios.$get(`venoil/report`, 
                    // { 'headers': { 'Access-Control-Allow-Origin': '*'} },
                    {
                        params: {
                            city: this.form.city,
                            stores: this.form.stores,
                            agents: this.form.agents,
                            start: `${this.form.start} 00:00:00`,
                            end: `${this.form.end} 23:59:59`,
                            all_stations_chbx: this.all_stations_chbx
                        }
                    },
                    {
                        responseType: "blob"
                    }
                )
                .then(response => {
                    console.log(response)
                    this.disabledBtn = false
                    this.downloadUrl = this.downloadUrl + response.data
                    this.downloaded = false
                    this.filename = response.data
                    this.mailModal = false
                    if(this.loadingDialog){
                        this.loadingDialog = false
                    }
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            async sendMail(){
                this.mailModal = true
                await this.$axios.$get(`venoil/send-report`,
                    {
                        params: {
                            filename: this.filename,
                            mail: this.mail
                        }
                    }
                )
                .then(response => {
                    console.log(response)
                    this.mailModal = false
                }).catch(err => {
                    console.log(err, 'error')
                })
            },
            closeStartDate(){
                this.startDate = false
                this.$refs.startDate.save(this.form.start)
            },
            closeEndDate(){
                this.endDate = false
                this.$refs.endDate.save(this.form.end)
            },
        }
    }
</script>
<style scoped>
    .titleColor{
        color:rgba(0, 0, 0, 0.6);
    }
    .scrollTable{
        overflow-y:scroll;
    }
    .mailArea{
        width:69%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:1px solid black;
        margin:auto;
        margin-top:12px;
        padding: 0;
    }
    .all_cities{
        margin-top:15px;
        height:30px;
    }
    .all_stations{
        margin-top:25px;
        height:30px;
    }
</style>